<form method="POST" action="/edit/">
 <input type="text" name="taskname" placeholder="Task Name" value="{{task.taskname}}" />
 <input type="text" name="taskdes" placeholder="Task Description" value="{{task.taskdes}}"/>
 <input type="text" name="taskproirity" placeholder="Task Priority" value="{{task.taskproirity}}"/>
 <input type="text" name="taskdate" placeholder="Task Date" value="{{task.taskdate}}"/>
 <input type="text" name="taskproject" placeholder="Task Project Name" value="{{task.taskproject}}"/>
 <input type="text" name="taskstatus" placeholder="Task Status" value="{{task.taskstatus}}"/>
 <input name="id" value="{{task.id}}" />
 <button type="submit">Save</button>
</form>
